################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/HalloWelt/.vs/HalloWelt/v16/Server/sqlite3
/Lab01_MiniRechner_Console/.vs/Lab01_MiniRechner_Console/v16/Server/sqlite3
/ArraysUndSchleifen/.vs/ArraysUndSchleifen/v16/Server/sqlite3
/Enumeratoren/.vs/Enumeratoren/v16/Server/sqlite3
/Funktionen/.vs/Funktionen/v16/Server/sqlite3
/ObjektOrientierung/.vs/ObjektOrientierung/v16/Server/sqlite3
/Fortbewegungsmittel/.vs/Fortbewegungsmittel/v16/Server/sqlite3
