################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/HalloWelt/.vs/HalloWelt/v16/Server/sqlite3
